# Event data

One of the main benefits of working with kloppy is that it loads metadata with the event data. This metadata includes teams (name, ground and provider id) and players (name, jersey number, optional position and provider id). Using this metadata, it becomes very easy to create an analysis that is usable by humans, because it includes names instead of only numbers.

This section shows how metadata is organized and some use-cases.

## Loading statsbomb data

The datasets module of kloppy makes it trivial to load statsbomb data. Keep in mind that by using the data you accept the license of the open-data project.

In [23]:
from kloppy import statsbomb

dataset = statsbomb.load_open_data(event_types=["pass", "shot"])

## Exploring metadata

kloppy always loads the metadata for you and makes it available at the `metadata` property.

In [24]:
metadata = dataset.metadata
home_team, away_team = metadata.teams

After loading the data, the metadata can be used to iterate over teams and players. By default `metadata.teams` contain `[HomeTeam, AwayTeam]`. `Team` and `Player` entities have the `__str__` magic method implemented to help you cast it to a string. When you want to

In [25]:
print(f"{home_team.ground} - {home_team}")
print(f"{away_team.ground} - {away_team}")

home - Barcelona
away - Deportivo Alavés

In [26]:
[f"{player} ({player.jersey_no})" for player in home_team.players]

['Malcom Filipe Silva de Oliveira (14)',
 'Philippe Coutinho Correia (7)',
 'Sergio Busquets i Burgos (5)',
 'Jordi Alba Ramos (18)',
 'Gerard Piqué Bernabéu (3)',
 'Luis Alberto Suárez Díaz (9)',
 'Ivan Rakitić (4)',
 'Ousmane Dembélé (11)',
 'Samuel Yves Umtiti (23)',
 'Lionel Andrés Messi Cuccittini (10)',
 'Nélson Cabral Semedo (2)',
 'Sergi Roberto Carnicer (20)',
 'Clément Lenglet (15)',
 'Rafael Alcântara do Nascimento (12)',
 'Arturo Erasmo Vidal Pardo (22)',
 'Jasper Cillessen (13)',
 'Arthur Henrique Ramos de Oliveira Melo (8)',
 'Marc-André ter Stegen (1)']

In [27]:
# get provider id for team
f"statsbomb team id: {home_team.team_id} - {away_team.team_id}"

'statsbomb team id: 217 - 206'

In [28]:
# same for the players
[f"{player} id={player.player_id}" for player in metadata.teams[0].players]

['Malcom Filipe Silva de Oliveira id=3109',
 'Philippe Coutinho Correia id=3501',
 'Sergio Busquets i Burgos id=5203',
 'Jordi Alba Ramos id=5211',
 'Gerard Piqué Bernabéu id=5213',
 'Luis Alberto Suárez Díaz id=5246',
 'Ivan Rakitić id=5470',
 'Ousmane Dembélé id=5477',
 'Samuel Yves Umtiti id=5492',
 'Lionel Andrés Messi Cuccittini id=5503',
 'Nélson Cabral Semedo id=6374',
 'Sergi Roberto Carnicer id=6379',
 'Clément Lenglet id=6826',
 'Rafael Alcântara do Nascimento id=6998',
 'Arturo Erasmo Vidal Pardo id=8206',
 'Jasper Cillessen id=8652',
 'Arthur Henrique Ramos de Oliveira Melo id=11392',
 'Marc-André ter Stegen id=20055']

In [29]:
# get player from first event
player = dataset.events[0].player
print(player)
print(player.team)
print(f"Teams are comparable? {player.team == away_team}")

Jonathan Rodríguez Menéndez
Deportivo Alavés
Teams are comparable? True

The `Team` and `Player` entities also contain the magic methods to use those keys in dictionaries or use them in sets. This makes it easy to do some calculations, and show the results without mapping the player_id to a name.

In [30]:
from collections import defaultdict

passes_per_player = defaultdict(list)
for event in dataset.events:
    if event.event_name == "pass":
        passes_per_player[event.player].append(event)
        
for player, passes in passes_per_player.items():
    print(f"{player} has {len(passes)} passes")

Jonathan Rodríguez Menéndez has 14 passes
Guillermo Alfonso Maripán Loaysa has 18 passes
Sergio Busquets i Burgos has 79 passes
Ivan Rakitić has 138 passes
Ousmane Dembélé has 65 passes
Jordi Alba Ramos has 121 passes
Víctor Laguardia Cisneros has 11 passes
Marc-André ter Stegen has 23 passes
Gerard Piqué Bernabéu has 79 passes
Nélson Cabral Semedo has 31 passes
Sergi Roberto Carnicer has 85 passes
Samuel Yves Umtiti has 63 passes
Lionel Andrés Messi Cuccittini has 93 passes
Rubén Duarte Sánchez has 25 passes
Ibai Gómez Pérez has 35 passes
Mubarak Wakaso has 23 passes
Manuel Alejandro García Sánchez has 23 passes
Rubén Sobrino Pozuelo has 17 passes
Luis Alberto Suárez Díaz has 38 passes
Fernando Pacheco Flores has 17 passes
Martín Aguirregabiria Padilla has 20 passes
Daniel Alejandro Torres Rojas has 16 passes
Philippe Coutinho Correia has 51 passes
Jorge Franco Alviz has 11 passes
Adrián Marín Gómez has 6 passes
Arthur Henrique Ramos de Oliveira Melo has 19 passes
Borja González Tomás has 7 passes
Arturo Erasmo Vidal Pardo has 7 passes

Now let's filter on home_team.

In [31]:
for player, passes in passes_per_player.items():
    if player.team == home_team:
        print(f"{player} has {len(passes)} passes")

Sergio Busquets i Burgos has 79 passes
Ivan Rakitić has 138 passes
Ousmane Dembélé has 65 passes
Jordi Alba Ramos has 121 passes
Marc-André ter Stegen has 23 passes
Gerard Piqué Bernabéu has 79 passes
Nélson Cabral Semedo has 31 passes
Sergi Roberto Carnicer has 85 passes
Samuel Yves Umtiti has 63 passes
Lionel Andrés Messi Cuccittini has 93 passes
Luis Alberto Suárez Díaz has 38 passes
Philippe Coutinho Correia has 51 passes
Arthur Henrique Ramos de Oliveira Melo has 19 passes
Arturo Erasmo Vidal Pardo has 7 passes

## Use metadata when transforming to pandas dataframe

The metadata can also be used when transforming a dataset to a pandas dataframe. The `additional_columns` argument should be passed to `to_pandas`.

In [32]:

dataframe = dataset.to_pandas(
    additional_columns={
        'player_name': lambda event: str(event.player),
        'team_name': lambda event: str(event.player.team)
    }
)

dataframe[[
    'event_id', 'event_type', 'result', 'timestamp', 'player_id', 
    'player_name', 'team_name'
]].head()

,event_id,event_type,result,timestamp,player_id,player_name,team_name
0,34208ade-2af4-45c3-970e-655937cad938,PASS,COMPLETE,0.098,6581,Jonathan Rodríguez Menéndez,Deportivo Alavés
1,d1cccb73-c7ef-4b02-8267-ebd7f149904b,PASS,INCOMPLETE,3.497,6855,Guillermo Alfonso Maripán Loaysa,Deportivo Alavés
2,f1cc47d6-4b19-45a6-beb9-33d67fc83f4b,PASS,COMPLETE,6.785,5203,Sergio Busquets i Burgos,Barcelona
3,f774571f-4b65-43a0-9bfc-6384948d1b82,PASS,COMPLETE,8.431,5470,Ivan Rakitić,Barcelona
4,46f0e871-3e72-4817-9a53-af27583ba6c1,PASS,COMPLETE,10.433,5477,Ousmane Dembélé,Barcelona

# Attribute transformers

Attribute transformer make it possible to add predefined attributes to a dataset. The attributes are calculated during export to a pandas DataFrame. Kloppy does provide some Transformers like one to calculate the angle to the goal, and one to calculate the distance to the goal. When you need additional Transformers you can write your one by providing a `Callable` to `to_df`.

In [2]:
from kloppy import statsbomb

from kloppy.domain.services.transformers.attribute import (
    BodyPartTransformer, AngleToGoalTransformer, DistanceToGoalTransformer
)

dataset = statsbomb.load_open_data(
    event_types=["pass", "shot"], 
    coordinates="statsbomb"
)

dataset.to_df(
    AngleToGoalTransformer(),
    DistanceToGoalTransformer()
)

/Users/koen/Developer/Projects/PySport/kloppy/.venv/lib/python3.8/site-packages/kloppy-3.3.1-py3.8.egg/kloppy/_providers/statsbomb.py:46: UserWarning:

You are about to use StatsBomb public data.
By using this data, you are agreeing to the user agreement.
The user agreement can be found here: https://github.com/statsbomb/open-data/blob/master/LICENSE.pdf

  warnings.warn(

      angle_to_goal  distance_to_goal
0         90.481466         59.502101
1         82.249964         85.278954
2         69.187354         91.468574
3         77.005383         86.720816
4         66.562013         94.278842
...             ...               ...
1155     121.578165         63.972650
1156     104.393593         58.330952
1157      39.559668         44.749302
1158      71.095424         38.581083
1159      55.901268          9.721368

[1160 rows x 2 columns]

In [3]:
event = dataset.events[0]

transformer = BodyPartTransformer(encoding="one-hot")
print(transformer(event))


transformer = AngleToGoalTransformer()
transformer(event)

{'is_body_part_right_foot': False, 'is_body_part_left_foot': True, 'is_body_part_head': False, 'is_body_part_both_hands': False, 'is_body_part_chest': False, 'is_body_part_left_hand': False, 'is_body_part_right_hand': False, 'is_body_part_drop_kick': False, 'is_body_part_keeper_arm': False, 'is_body_part_other': False, 'is_body_part_no_touch': False}

{'angle_to_goal': 90.48146580583835}

## Wildcard

When you want to export a set of attributes you can specify a wildcard pattern. This pattern is matched against all default (exported by the `Default` Transformer) attributes.

In [4]:
dataset.to_df(
    'period_id',
    'timestamp',
    '*coordinates*',
)

,period_id,timestamp,coordinates_x,coordinates_y,end_coordinates_x,end_coordinates_y
0,1,0.098,60.50,40.50,35.5,25.5
1,1,3.497,35.50,28.50,85.5,72.5
2,1,6.785,34.50,7.50,34.5,20.5
3,1,8.431,35.50,20.50,35.5,1.5
4,1,10.433,33.50,2.50,25.5,1.5
...,...,...,...,...,...,...
1155,2,2787.914,65.50,73.50,59.5,60.5
1156,2,2791.395,63.50,54.50,89.5,5.5
1157,2,2795.127,91.50,5.50,90.5,26.5
1158,2,2798.906,83.50,27.50,106.5,44.5
1159,2,2802.770,111.95,34.55,NaN,NaN

## User-defined Transformers

Transformers are nothing more than a function which accepts a `Event` and returns `Dict` (`Callable[[Event], Dict])`). The Transformers provided by kloppy are actually classes that define a `__call__` method. You can also use a `lambda` function or any other function to transform attributes.

When you use named attributes (specified using a keyword argument) the returned value can be any type (`Callable[[Event], Any]`).

In [6]:
import random

dataset.to_df(
    # Unnamed transformer must always be defined as a Callable. The function must return a Dictionary
    lambda event: {'period': event.period.id, 'timestamp': event.timestamp},
    
    # Named transformer can be specified as a constant
    some_columns=1234,
    
    # Or as a callable
    other_column=lambda x: random.randint(0, 255)
)

      period  timestamp  some_columns  other_column
0          1      0.098          1234           207
1          1      3.497          1234           196
2          1      6.785          1234           188
3          1      8.431          1234            50
4          1     10.433          1234           141
...      ...        ...           ...           ...
1155       2   2787.914          1234            53
1156       2   2791.395          1234            89
1157       2   2795.127          1234            83
1158       2   2798.906          1234           158
1159       2   2802.770          1234            67

[1160 rows x 4 columns]

## to_records

Under the hood the `to_df` method uses the `to_records` method.

In [7]:
dataset.to_records(
    # Unnamed transformer must always be defined as a Callable. The function must return a Dictionary
    lambda event: {'period': event.period.id, 'timestamp': event.timestamp},
    
    # Named transformer can be specified as a constant
    some_columns=1234,
    
    # Or as a callable
    other_column=lambda x: random.randint(0, 255)
)

[{'period': 1, 'timestamp': 0.098, 'some_columns': 1234, 'other_column': 146},
 {'period': 1, 'timestamp': 3.497, 'some_columns': 1234, 'other_column': 139},
 {'period': 1, 'timestamp': 6.785, 'some_columns': 1234, 'other_column': 197},
 {'period': 1, 'timestamp': 8.431, 'some_columns': 1234, 'other_column': 167},
 {'period': 1, 'timestamp': 10.433, 'some_columns': 1234, 'other_column': 226},
 {'period': 1, 'timestamp': 11.15, 'some_columns': 1234, 'other_column': 17},
 {'period': 1, 'timestamp': 24.687, 'some_columns': 1234, 'other_column': 216},
 {'period': 1, 'timestamp': 30.008, 'some_columns': 1234, 'other_column': 108},
 {'period': 1, 'timestamp': 34.738, 'some_columns': 1234, 'other_column': 25},
 {'period': 1, 'timestamp': 37.467, 'some_columns': 1234, 'other_column': 200},
 {'period': 1, 'timestamp': 38.184, 'some_columns': 1234, 'other_column': 227},
 {'period': 1, 'timestamp': 39.87, 'some_columns': 1234, 'other_column': 31},
 {'period': 1, 'timestamp': 44.029, 'some_columns': 1234, 'other_column': 96},
 {'period': 1, 'timestamp': 46.653, 'some_columns': 1234, 'other_column': 38},
 {'period': 1, 'timestamp': 49.171, 'some_columns': 1234, 'other_column': 99},
 {'period': 1, 'timestamp': 54.192, 'some_columns': 1234, 'other_column': 165},
 {'period': 1, 'timestamp': 59.988, 'some_columns': 1234, 'other_column': 82},
 {'period': 1, 'timestamp': 63.663, 'some_columns': 1234, 'other_column': 53},
 {'period': 1, 'timestamp': 66.228, 'some_columns': 1234, 'other_column': 180},
 {'period': 1, 'timestamp': 67.685, 'some_columns': 1234, 'other_column': 60},
 {'period': 1, 'timestamp': 72.116, 'some_columns': 1234, 'other_column': 152},
 {'period': 1, 'timestamp': 76.219, 'some_columns': 1234, 'other_column': 66},
 {'period': 1, 'timestamp': 80.809, 'some_columns': 1234, 'other_column': 240},
 {'period': 1, 'timestamp': 83.602, 'some_columns': 1234, 'other_column': 89},
 {'period': 1,
  'timestamp': 88.08500000000001,
  'some_columns': 1234,
  'other_column': 66},
 {'period': 1, 'timestamp': 91.556, 'some_columns': 1234, 'other_column': 1},
 {'period': 1,
  'timestamp': 92.24600000000001,
  'some_columns': 1234,
  'other_column': 83},
 {'period': 1,
  'timestamp': 95.46000000000001,
  'some_columns': 1234,
  'other_column': 49},
 {'period': 1, 'timestamp': 97.587, 'some_columns': 1234, 'other_column': 144},
 {'period': 1, 'timestamp': 99.116, 'some_columns': 1234, 'other_column': 235},
 {'period': 1, 'timestamp': 109.042, 'some_columns': 1234, 'other_column': 37},
 {'period': 1,
  'timestamp': 112.907,
  'some_columns': 1234,
  'other_column': 158},
 {'period': 1,
  'timestamp': 114.642,
  'some_columns': 1234,
  'other_column': 228},
 {'period': 1, 'timestamp': 115.253, 'some_columns': 1234, 'other_column': 98},
 {'period': 1, 'timestamp': 116.761, 'some_columns': 1234, 'other_column': 28},
 {'period': 1,
  'timestamp': 117.563,
  'some_columns': 1234,
  'other_column': 156},
 {'period': 1,
  'timestamp': 120.404,
  'some_columns': 1234,
  'other_column': 212},
 {'period': 1,
  'timestamp': 125.642,
  'some_columns': 1234,
  'other_column': 196},
 {'period': 1, 'timestamp': 127.992, 'some_columns': 1234, 'other_column': 21},
 {'period': 1, 'timestamp': 129.654, 'some_columns': 1234, 'other_column': 56},
 {'period': 1,
  'timestamp': 130.374,
  'some_columns': 1234,
  'other_column': 246},
 {'period': 1,
  'timestamp': 133.851,
  'some_columns': 1234,
  'other_column': 224},
 {'period': 1,
  'timestamp': 136.732,
  'some_columns': 1234,
  'other_column': 195},
 {'period': 1, 'timestamp': 139.78, 'some_columns': 1234, 'other_column': 78},
 {'period': 1,
  'timestamp': 144.126,
  'some_columns': 1234,
  'other_column': 227},
 {'period': 1, 'timestamp': 149.094, 'some_columns': 1234, 'other_column': 16},
 {'period': 1,
  'timestamp': 189.841,
  'some_columns': 1234,
  'other_column': 110},
 {'period': 1, 'timestamp': 194.628, 'some_columns': 1234, 'other_column': 89},
 {'period': 1,
  'timestamp': 196.343,
  'some_columns': 1234,
  'other_column': 181},
 {'period': 1,
  'timestamp': 201.028,
  'some_columns': 1234,
  'other_column': 219},
 {'period': 1, 'timestamp': 203.655, 'some_columns': 1234, 'other_column': 62},
 {'period': 1, 'timestamp': 207.64, 'some_columns': 1234, 'other_column': 116},
 {'period': 1, 'timestamp': 210.042, 'some_columns': 1234, 'other_column': 60},
 {'period': 1,
  'timestamp': 210.692,
  'some_columns': 1234,
  'other_column': 141},
 {'period': 1, 'timestamp': 211.46, 'some_columns': 1234, 'other_column': 235},
 {'period': 1,
  'timestamp': 214.649,
  'some_columns': 1234,
  'other_column': 148},
 {'period': 1, 'timestamp': 219.237, 'some_columns': 1234, 'other_column': 57},
 {'period': 1,
  'timestamp': 224.836,
  'some_columns': 1234,
  'other_column': 151},
 {'period': 1,
  'timestamp': 228.947,
  'some_columns': 1234,
  'other_column': 105},
 {'period': 1, 'timestamp': 231.249, 'some_columns': 1234, 'other_column': 18},
 {'period': 1,
  'timestamp': 235.702,
  'some_columns': 1234,
  'other_column': 126},
 {'period': 1,
  'timestamp': 237.921,
  'some_columns': 1234,
  'other_column': 166},
 {'period': 1,
  'timestamp': 238.552,
  'some_columns': 1234,
  'other_column': 141},
 {'period': 1, 'timestamp': 240.367, 'some_columns': 1234, 'other_column': 63},
 {'period': 1, 'timestamp': 241.817, 'some_columns': 1234, 'other_column': 80},
 {'period': 1, 'timestamp': 248.575, 'some_columns': 1234, 'other_column': 3},
 {'period': 1, 'timestamp': 252.106, 'some_columns': 1234, 'other_column': 21},
 {'period': 1, 'timestamp': 257.31, 'some_columns': 1234, 'other_column': 162},
 {'period': 1, 'timestamp': 263.424, 'some_columns': 1234, 'other_column': 39},
 {'period': 1,
  'timestamp': 265.922,
  'some_columns': 1234,
  'other_column': 121},
 {'period': 1, 'timestamp': 271.056, 'some_columns': 1234, 'other_column': 70},
 {'period': 1,
  'timestamp': 272.112,
  'some_columns': 1234,
  'other_column': 238},
 {'period': 1,
  'timestamp': 273.303,
  'some_columns': 1234,
  'other_column': 201},
 {'period': 1,
  'timestamp': 275.283,
  'some_columns': 1234,
  'other_column': 125},
 {'period': 1, 'timestamp': 301.763, 'some_columns': 1234, 'other_column': 99},
 {'period': 1,
  'timestamp': 306.431,
  'some_columns': 1234,
  'other_column': 165},
 {'period': 1, 'timestamp': 309.753, 'some_columns': 1234, 'other_column': 52},
 {'period': 1,
  'timestamp': 312.598,
  'some_columns': 1234,
  'other_column': 133},
 {'period': 1,
  'timestamp': 314.787,
  'some_columns': 1234,
  'other_column': 168},
 {'period': 1, 'timestamp': 317.269, 'some_columns': 1234, 'other_column': 73},
 {'period': 1,
  'timestamp': 321.162,
  'some_columns': 1234,
  'other_column': 238},
 {'period': 1, 'timestamp': 327.41, 'some_columns': 1234, 'other_column': 210},
 {'period': 1,
  'timestamp': 329.492,
  'some_columns': 1234,
  'other_column': 131},
 {'period': 1, 'timestamp': 333.029, 'some_columns': 1234, 'other_column': 89},
 {'period': 1, 'timestamp': 337.369, 'some_columns': 1234, 'other_column': 7},
 {'period': 1,
  'timestamp': 339.239,
  'some_columns': 1234,
  'other_column': 100},
 {'period': 1, 'timestamp': 363.657, 'some_columns': 1234, 'other_column': 12},
 {'period': 1, 'timestamp': 366.441, 'some_columns': 1234, 'other_column': 83},
 {'period': 1,
  'timestamp': 369.691,
  'some_columns': 1234,
  'other_column': 195},
 {'period': 1,
  'timestamp': 370.599,
  'some_columns': 1234,
  'other_column': 102},
 {'period': 1,
  'timestamp': 374.352,
  'some_columns': 1234,
  'other_column': 149},
 {'period': 1,
  'timestamp': 378.745,
  'some_columns': 1234,
  'other_column': 163},
 {'period': 1, 'timestamp': 381.901, 'some_columns': 1234, 'other_column': 65},
 {'period': 1, 'timestamp': 388.21, 'some_columns': 1234, 'other_column': 3},
 {'period': 1,
  'timestamp': 410.717,
  'some_columns': 1234,
  'other_column': 105},
 {'period': 1,
  'timestamp': 411.397,
  'some_columns': 1234,
  'other_column': 180},
 {'period': 1,
  'timestamp': 412.905,
  'some_columns': 1234,
  'other_column': 249},
 {'period': 1,
  'timestamp': 413.956,
  'some_columns': 1234,
  'other_column': 132},
 {'period': 1, 'timestamp': 415.358, 'some_columns': 1234, 'other_column': 76},
 {'period': 1, 'timestamp': 416.95, 'some_columns': 1234, 'other_column': 131},
 {'period': 1, 'timestamp': 418.672, 'some_columns': 1234, 'other_column': 48},
 {'period': 1, 'timestamp': 420.194, 'some_columns': 1234, 'other_column': 73},
 {'period': 1,
  'timestamp': 423.457,
  'some_columns': 1234,
  'other_column': 218},
 {'period': 1, 'timestamp': 425.125, 'some_columns': 1234, 'other_column': 54},
 {'period': 1,
  'timestamp': 429.546,
  'some_columns': 1234,
  'other_column': 167},
 {'period': 1,
  'timestamp': 432.842,
  'some_columns': 1234,
  'other_column': 227},
 {'period': 1,
  'timestamp': 435.824,
  'some_columns': 1234,
  'other_column': 190},
 {'period': 1,
  'timestamp': 438.588,
  'some_columns': 1234,
  'other_column': 117},
 {'period': 1,
  'timestamp': 441.374,
  'some_columns': 1234,
  'other_column': 128},
 {'period': 1, 'timestamp': 444.446, 'some_columns': 1234, 'other_column': 46},
 {'period': 1, 'timestamp': 454.127, 'some_columns': 1234, 'other_column': 93},
 {'period': 1, 'timestamp': 454.861, 'some_columns': 1234, 'other_column': 64},
 {'period': 1,
  'timestamp': 460.238,
  'some_columns': 1234,
  'other_column': 161},
 {'period': 1,
  'timestamp': 461.108,
  'some_columns': 1234,
  'other_column': 195},
 {'period': 1,
  'timestamp': 463.981,
  'some_columns': 1234,
  'other_column': 198},
 {'period': 1,
  'timestamp': 466.938,
  'some_columns': 1234,
  'other_column': 165},
 {'period': 1, 'timestamp': 467.871, 'some_columns': 1234, 'other_column': 3},
 {'period': 1,
  'timestamp': 470.533,
  'some_columns': 1234,
  'other_column': 117},
 {'period': 1,
  'timestamp': 475.488,
  'some_columns': 1234,
  'other_column': 105},
 {'period': 1, 'timestamp': 477.525, 'some_columns': 1234, 'other_column': 95},
 {'period': 1,
  'timestamp': 478.653,
  'some_columns': 1234,
  'other_column': 139},
 {'period': 1, 'timestamp': 480.343, 'some_columns': 1234, 'other_column': 23},
 {'period': 1,
  'timestamp': 483.111,
  'some_columns': 1234,
  'other_column': 160},
 {'period': 1, 'timestamp': 489.135, 'some_columns': 1234, 'other_column': 28},
 {'period': 1,
  'timestamp': 489.737,
  'some_columns': 1234,
  'other_column': 181},
 {'period': 1,
  'timestamp': 492.111,
  'some_columns': 1234,
  'other_column': 113},
 {'period': 1, 'timestamp': 492.749, 'some_columns': 1234, 'other_column': 10},
 {'period': 1, 'timestamp': 495.712, 'some_columns': 1234, 'other_column': 99},
 {'period': 1, 'timestamp': 497.892, 'some_columns': 1234, 'other_column': 53},
 {'period': 1, 'timestamp': 499.86, 'some_columns': 1234, 'other_column': 110},
 {'period': 1, 'timestamp': 503.84, 'some_columns': 1234, 'other_column': 160},
 {'period': 1,
  'timestamp': 506.086,
  'some_columns': 1234,
  'other_column': 103},
 {'period': 1,
  'timestamp': 506.763,
  'some_columns': 1234,
  'other_column': 108},
 {'period': 1, 'timestamp': 507.372, 'some_columns': 1234, 'other_column': 75},
 {'period': 1,
  'timestamp': 509.666,
  'some_columns': 1234,
  'other_column': 201},
 {'period': 1,
  'timestamp': 513.438,
  'some_columns': 1234,
  'other_column': 251},
 {'period': 1,
  'timestamp': 517.351,
  'some_columns': 1234,
  'other_column': 221},
 {'period': 1,
  'timestamp': 520.473,
  'some_columns': 1234,
  'other_column': 125},
 {'period': 1, 'timestamp': 525.215, 'some_columns': 1234, 'other_column': 60},
 {'period': 1, 'timestamp': 527.024, 'some_columns': 1234, 'other_column': 15},
 {'period': 1, 'timestamp': 528.055, 'some_columns': 1234, 'other_column': 5},
 {'period': 1,
  'timestamp': 531.077,
  'some_columns': 1234,
  'other_column': 148},
 {'period': 1, 'timestamp': 537.73, 'some_columns': 1234, 'other_column': 129},
 {'period': 1,
  'timestamp': 541.519,
  'some_columns': 1234,
  'other_column': 125},
 {'period': 1,
  'timestamp': 543.676,
  'some_columns': 1234,
  'other_column': 224},
 {'period': 1, 'timestamp': 546.077, 'some_columns': 1234, 'other_column': 91},
 {'period': 1,
  'timestamp': 547.992,
  'some_columns': 1234,
  'other_column': 135},
 {'period': 1, 'timestamp': 549.134, 'some_columns': 1234, 'other_column': 33},
 {'period': 1, 'timestamp': 550.71, 'some_columns': 1234, 'other_column': 45},
 {'period': 1, 'timestamp': 552.795, 'some_columns': 1234, 'other_column': 37},
 {'period': 1, 'timestamp': 602.78, 'some_columns': 1234, 'other_column': 140},
 {'period': 1,
  'timestamp': 605.758,
  'some_columns': 1234,
  'other_column': 115},
 {'period': 1, 'timestamp': 608.576, 'some_columns': 1234, 'other_column': 18},
 {'period': 1,
  'timestamp': 612.631,
  'some_columns': 1234,
  'other_column': 148},
 {'period': 1, 'timestamp': 615.461, 'some_columns': 1234, 'other_column': 19},
 {'period': 1, 'timestamp': 619.758, 'some_columns': 1234, 'other_column': 14},
 {'period': 1,
  'timestamp': 621.338,
  'some_columns': 1234,
  'other_column': 110},
 {'period': 1,
  'timestamp': 629.518,
  'some_columns': 1234,
  'other_column': 196},
 {'period': 1,
  'timestamp': 630.328,
  'some_columns': 1234,
  'other_column': 133},
 {'period': 1,
  'timestamp': 632.236,
  'some_columns': 1234,
  'other_column': 123},
 {'period': 1,
  'timestamp': 634.032,
  'some_columns': 1234,
  'other_column': 242},
 {'period': 1, 'timestamp': 637.62, 'some_columns': 1234, 'other_column': 30},
 {'period': 1,
  'timestamp': 641.423,
  'some_columns': 1234,
  'other_column': 162},
 {'period': 1, 'timestamp': 645.523, 'some_columns': 1234, 'other_column': 10},
 {'period': 1, 'timestamp': 648.501, 'some_columns': 1234, 'other_column': 41},
 {'period': 1, 'timestamp': 650.617, 'some_columns': 1234, 'other_column': 18},
 {'period': 1,
  'timestamp': 651.889,
  'some_columns': 1234,
  'other_column': 155},
 {'period': 1,
  'timestamp': 657.467,
  'some_columns': 1234,
  'other_column': 252},
 {'period': 1, 'timestamp': 659.31, 'some_columns': 1234, 'other_column': 44},
 {'period': 1, 'timestamp': 661.278, 'some_columns': 1234, 'other_column': 92},
 {'period': 1,
  'timestamp': 664.338,
  'some_columns': 1234,
  'other_column': 200},
 {'period': 1,
  'timestamp': 673.417,
  'some_columns': 1234,
  'other_column': 135},
 {'period': 1,
  'timestamp': 675.997,
  'some_columns': 1234,
  'other_column': 174},
 {'period': 1,
  'timestamp': 678.116,
  'some_columns': 1234,
  'other_column': 138},
 {'period': 1, 'timestamp': 685.25, 'some_columns': 1234, 'other_column': 40},
 {'period': 1,
  'timestamp': 689.953,
  'some_columns': 1234,
  'other_column': 127},
 {'period': 1, 'timestamp': 692.958, 'some_columns': 1234, 'other_column': 39},
 {'period': 1, 'timestamp': 714.92, 'some_columns': 1234, 'other_column': 229},
 {'period': 1,
  'timestamp': 721.193,
  'some_columns': 1234,
  'other_column': 180},
 {'period': 1, 'timestamp': 727.649, 'some_columns': 1234, 'other_column': 4},
 {'period': 1,
  'timestamp': 732.681,
  'some_columns': 1234,
  'other_column': 188},
 {'period': 1,
  'timestamp': 736.404,
  'some_columns': 1234,
  'other_column': 161},
 {'period': 1, 'timestamp': 739.126, 'some_columns': 1234, 'other_column': 86},
 {'period': 1,
  'timestamp': 739.774,
  'some_columns': 1234,
  'other_column': 169},
 {'period': 1,
  'timestamp': 743.307,
  'some_columns': 1234,
  'other_column': 137},
 {'period': 1,
  'timestamp': 745.997,
  'some_columns': 1234,
  'other_column': 133},
 {'period': 1, 'timestamp': 749.344, 'some_columns': 1234, 'other_column': 76},
 {'period': 1,
  'timestamp': 754.331,
  'some_columns': 1234,
  'other_column': 165},
 {'period': 1,
  'timestamp': 758.521,
  'some_columns': 1234,
  'other_column': 243},
 {'period': 1,
  'timestamp': 761.406,
  'some_columns': 1234,
  'other_column': 194},
 {'period': 1,
  'timestamp': 763.683,
  'some_columns': 1234,
  'other_column': 204},
 {'period': 1,
  'timestamp': 767.794,
  'some_columns': 1234,
  'other_column': 135},
 {'period': 1,
  'timestamp': 769.997,
  'some_columns': 1234,
  'other_column': 156},
 {'period': 1,
  'timestamp': 772.361,
  'some_columns': 1234,
  'other_column': 207},
 {'period': 1, 'timestamp': 783.454, 'some_columns': 1234, 'other_column': 44},
 {'period': 1, 'timestamp': 786.954, 'some_columns': 1234, 'other_column': 11},
 {'period': 1,
  'timestamp': 790.262,
  'some_columns': 1234,
  'other_column': 245},
 {'period': 1, 'timestamp': 796.658, 'some_columns': 1234, 'other_column': 77},
 {'period': 1, 'timestamp': 799.0, 'some_columns': 1234, 'other_column': 183},
 {'period': 1,
  'timestamp': 814.724,
  'some_columns': 1234,
  'other_column': 195},
 {'period': 1,
  'timestamp': 818.293,
  'some_columns': 1234,
  'other_column': 139},
 {'period': 1,
  'timestamp': 823.846,
  'some_columns': 1234,
  'other_column': 123},
 {'period': 1, 'timestamp': 826.102, 'some_columns': 1234, 'other_column': 51},
 {'period': 1, 'timestamp': 863.95, 'some_columns': 1234, 'other_column': 119},
 {'period': 1,
  'timestamp': 868.475,
  'some_columns': 1234,
  'other_column': 203},
 {'period': 1,
  'timestamp': 871.812,
  'some_columns': 1234,
  'other_column': 213},
 {'period': 1, 'timestamp': 875.012, 'some_columns': 1234, 'other_column': 73},
 {'period': 1,
  'timestamp': 877.918,
  'some_columns': 1234,
  'other_column': 145},
 {'period': 1,
  'timestamp': 880.348,
  'some_columns': 1234,
  'other_column': 116},
 {'period': 1, 'timestamp': 886.283, 'some_columns': 1234, 'other_column': 95},
 {'period': 1, 'timestamp': 889.082, 'some_columns': 1234, 'other_column': 94},
 {'period': 1,
  'timestamp': 892.031,
  'some_columns': 1234,
  'other_column': 136},
 {'period': 1, 'timestamp': 894.935, 'some_columns': 1234, 'other_column': 99},
 {'period': 1,
  'timestamp': 899.234,
  'some_columns': 1234,
  'other_column': 237},
 {'period': 1, 'timestamp': 901.375, 'some_columns': 1234, 'other_column': 69},
 {'period': 1,
  'timestamp': 908.188,
  'some_columns': 1234,
  'other_column': 112},
 {'period': 1,
  'timestamp': 910.842,
  'some_columns': 1234,
  'other_column': 190},
 {'period': 1,
  'timestamp': 914.564,
  'some_columns': 1234,
  'other_column': 120},
 {'period': 1,
  'timestamp': 916.888,
  'some_columns': 1234,
  'other_column': 219},
 {'period': 1,
  'timestamp': 919.322,
  'some_columns': 1234,
  'other_column': 126},
 {'period': 1,
  'timestamp': 920.674,
  'some_columns': 1234,
  'other_column': 118},
 {'period': 1, 'timestamp': 924.1, 'some_columns': 1234, 'other_column': 39},
 {'period': 1, 'timestamp': 924.984, 'some_columns': 1234, 'other_column': 34},
 {'period': 1,
  'timestamp': 928.625,
  'some_columns': 1234,
  'other_column': 143},
 {'period': 1, 'timestamp': 950.72, 'some_columns': 1234, 'other_column': 22},
 {'period': 1,
  'timestamp': 953.123,
  'some_columns': 1234,
  'other_column': 254},
 {'period': 1, 'timestamp': 967.756, 'some_columns': 1234, 'other_column': 1},
 {'period': 1, 'timestamp': 968.731, 'some_columns': 1234, 'other_column': 63},
 {'period': 1, 'timestamp': 969.373, 'some_columns': 1234, 'other_column': 72},
 {'period': 1, 'timestamp': 973.354, 'some_columns': 1234, 'other_column': 14},
 {'period': 1,
  'timestamp': 975.285,
  'some_columns': 1234,
  'other_column': 179},
 {'period': 1,
  'timestamp': 978.568,
  'some_columns': 1234,
  'other_column': 125},
 {'period': 1, 'timestamp': 979.616, 'some_columns': 1234, 'other_column': 60},
 {'period': 1,
  'timestamp': 1001.841,
  'some_columns': 1234,
  'other_column': 72},
 {'period': 1,
  'timestamp': 1005.832,
  'some_columns': 1234,
  'other_column': 13},
 {'period': 1,
  'timestamp': 1012.952,
  'some_columns': 1234,
  'other_column': 236},
 {'period': 1,
  'timestamp': 1016.005,
  'some_columns': 1234,
  'other_column': 69},
 {'period': 1,
  'timestamp': 1018.934,
  'some_columns': 1234,
  'other_column': 61},
 {'period': 1,
  'timestamp': 1043.417,
  'some_columns': 1234,
  'other_column': 240},